@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, ul{
    margin: 0px;
    padding: 0px;

    font-family: "Poppins", sans-serif;
    font-style: normal
}

a{
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    background: rgba(0, 0, 0, 0.205);
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
}

#logo img{
    width: 120px;
}

#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #63222E;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

/* Conteudo */

#foto img{
    width: 50px;
}

.aouser{
    display: flex;
    align-items: center;
    /*border: 1px solid black;*/
    margin: 10px;
    padding: 10px;
}

.aouser h2{
    margin-left: 15px;
}

.aouser p{
    margin-left: 15px;
    margin-top: -18px;
}

/*Noticias*/

.noticias{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background: #63222E;
    color: #ffffff;
}

/*POPs*/

#popss{
    background: #dff6ff;
}

#docb{
    padding: 10px;
}

#docA{
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: #ffffff;
}

#docA img{
    width: 30px;
    margin-right: 10px;
}

#docA a{
    color: #63222E;
}

#tTitulo{
    text-align: center;
}

.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}

@media(max-width: 600px){

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #63222E;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.486);
        
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 5rem;
    }

    #hamburger{
        border-top: 2px solid;
        width: 20px;
        display: block;
        color: #ffffff;
    }

    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}